<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des fonds</title>
</head>

<body>
    <div>
        <h2>Fonds Disponible</h2>
        <p id="fondsActuel"></p>
    </div>

    <script src="../../config.js"></script>
    <script>
        function afficherFondsActuel() {
            fetch(`${API_BASE}/fonds/actuel`)
                .then(res => res.json())
                .then(response => {
                    const fondsActuel = document.getElementById("fondsActuel");
                    fondsActuel.textContent = `Fonds disponible : ${response.fonds_disponible} €`;
                })
                .catch(() => {
                    alert("Erreur lors de la récupération du fonds actuel");
                });
        }
        document.addEventListener('DOMContentLoaded', afficherFondsActuel);
    </script>

</body>

</html>